<%- include('../../partials/head.ejs') %>

<div class="container">
    <h1 class="display-1 text-center">Welcome <%= user.username %> </h1>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>